/**
 * Theme: Mystique
 */

/* Syntax Highlighting */
.CodeMirror,
.CodeMirror-scroll {
	font-family: 'Segoe UI Mono Regular','Segoe UI Mono';
	font-size: 14px !important;
	line-height: 18px;
	-webkit-font-smoothing: antialiased !important;	
	background: #292d2f;
	color: #bba399;
	text-shadow: none;
}
.CodeMirror-lines {
	padding: 40px 0 0 0;
}
.CodeMirror-linenumber {
	color: #3b3d41;
}
.CodeMirror-activeline .CodeMirror-linenumber {
	color: #5b6469;
}
.CodeMirror-code pre {
	height: 20px;

	span {
		display: inline-block;
		height: 20px;
		box-sizing: border-box;;
	}
}
.cm-matchhighlight {
	border-bottom: 1px dotted #adff00;
}
.CodeMirror-gutters {
	background: #292d2f;
	border-right: none;
	/* Alignment fix (bug?) */
	left: 0 !important;
}
.CodeMirror-cursor {
	border-left: 1px solid #eee !important;
}
.CodeMirror-gutter-elt {
	background: #292d2f;
}
.CodeMirror-activeline-background,
.CodeMirror-activeline .CodeMirror-gutter-elt {
	background: #333a3f !important;
	outline: none;
}
.cm-tab {
	box-shadow: inset 1px 0 rgba(239, 249, 255, 0.15) !important;
}
.cm-builtin {
	color: #83c3ce;
}
.cm-operator {
	color: #86b7eb;
}
.CodeMirror-searching {
	background-color: #af7f00;
	box-shadow: none;
	color: #fff !important;
	outline: 1px solid #dea919 !important;
}
.cm-comment {
	color: rgba(228, 245, 255, 0.3);
}
.cm-string {
	color: #cc964c;
}
.cm-string-2 {
	color: #f46b1f;
}
.cm-number {
	color: #ff6666;
}
.cm-atom {
	color: #e0cc6b;
}
.cm-attribute {
	color: #ffb454;
}
.cm-keyword {
	color: #6b85ff;
}
.cm-error {
	background: #d8290d;
	color: #f8f8f8;
}
.cm-invalidchar {
	background: #d8290d;
	color: #f8f8f8;
}
.cm-variable {
	color: #a6c7ee;
}
.cm-variable-2 {
	color: #cac6c4;
}
.cm-variable-3 {
	color: #e09fc4;
}
.cm-property {
	color: #a3d5a3;
}
.cm-meta {
	color: #809f80;
}
.cm-bracket {
	color: #ebefe7;
}
.cm-tag {
	color: #88b6be;
}
.cm-header {
	color: #a0a;
}
.cm-quote {
	color: #489f48;
}
.cm-hr {
	color: #999;
}
.cm-link {
	color: #00c;
}
.cm-qualifier,
.cm-def {
	color: #cac6c4;
}
.CodeMirror-selected {
	background: #475157 !important;
}
.CodeMirror-matchingbracket,
.CodeMirror-matchingtag {
	background: #740d31;
	outline: 1px solid #8b1840;
    color: #fff !important;
}

/* Scrollbars */
::-webkit-scrollbar {
	background: none !important;
	height: 8px !important;
	width: 8px !important;
}
::-webkit-scrollbar-thumb {
	box-shadow: 0 0 0 12px rgba(12, 12, 12, 0.5) inset !important;
	border-radius: 4px;
	width: 8px;
}
.CodeMirror-gutter-filler {
	background: none;
	height: 8px;
}
.CodeMirror-scrollbar-filler {
	background: none;
	width: 8px;
	height: 8px;
}

/* Editor drop shadow */
.CodeMirror:after {
	display: block;
	position: absolute;
	top: -5px;
	right: 0;
	bottom: -5px;
	left: 0;
	pointer-events: none;
	box-shadow: inset 0 0 15px 0px rgba(0, 0, 0, 0.3);
	content: "";
	z-index: 10;
}

/* Status Bar */
#status-bar,
#status-indicators {
	background-color: #222;
}
#status-indicators {
	> div:not(.spinner),
	#status-inspection {
		border-left: 1px solid #333;
	}
}
#status-info,
#status-overwrite,
#status-language,
#indent-type {
	color: #ddd;
}
#indent-width-label {
	color: #999;
}